@if (isVisible$ | async) {
  <div class="dialog-overlay" (click)="closeDialog()">
    <div class="dialog-box" (click)="$event.stopPropagation()" cdkTrapFocus cdkTrapFocusAutoCapture>
      <h2 class="dialog-title">התחברות לערוץ '{{ siteName$ | async }}' ע"י חשבון גוגל</h2>
      <div class="dialog-content">
        <p>כדי להתחבר עם חשבון גוגל לערוץ זה, נדרש לבצע התחברות ראשונית בחלון נפרד.</p>
        <p><strong>מה לעשות?</strong></p>
        <ol>
          <li>לחצו על "פתח בכרטיסייה חדשה".</li>
          <li>התחברו דרך חשבון הגוגל שלכם בכרטיסייה שתיפתח.</li>
          <li>לאחר מכן, תוכלו לחזור לכאן ולהתחבר בקלות גם מתוך הפלטפורמה.</li>
        </ol>
      </div>
      <div class="dialog-actions">
        <div class="dont-show-again-container">
          <input type="checkbox" id="dont-show-again" #dontShowAgainCheckbox>
          <label for="dont-show-again">אל תציג שוב</label>
        </div>
        <button #closeButton class="btn-primary" (click)="closeDialog(dontShowAgainCheckbox)">בסדר</button>
      </div>
    </div>
  </div>
}