<div class="app-layout">
  <!-- This container holds the sidebar and the iframe area -->
  <div class="main-container">
    @if (isSidebarVisible$ | async) {
      <app-sidebar></app-sidebar>
    }
    <app-main-content></app-main-content>
  </div>

  <!-- Advertisement Footer -->
  <footer class="ad-container">
    <div id="ad-placement-container"></div>
  </footer>
</div>

<!-- Global Components (Dialogs, Toasts) -->
<app-add-site-dialog></app-add-site-dialog>
<app-edit-site-dialog></app-edit-site-dialog>
<app-confirm-delete-dialog></app-confirm-delete-dialog>
<app-input-dialog></app-input-dialog>
<app-login-tutorial-dialog></app-login-tutorial-dialog>
<app-toast></app-toast>
<app-welcome-dialog></app-welcome-dialog>
<app-google-login-unsupported-dialog></app-google-login-unsupported-dialog>
<app-grant-permission-dialog></app-grant-permission-dialog>
<app-install-extension-dialog></app-install-extension-dialog>
<app-third-party-cookies-blocked-dialog></app-third-party-cookies-blocked-dialog>
