/* src/app/app.component.css */
:host {
  display: block;
  height: 100%;
  overflow: hidden;
}
.app-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
/* עיצוב הבאנר הוסר מכאן */
.main-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  min-height: 0;
}
.ad-container {
  width: 100%;
  flex-shrink: 0;
  border-top: 1px solid #cccccc;
  box-sizing: border-box;
  background-color: #f0f0f0;
}
