@if (isVisible$ | async) {
  <div class="dialog-overlay" (click)="closeDialog()">
    @if(site$ | async; as site) {
      <div class="dialog-box" (click)="$event.stopPropagation()" cdkTrapFocus cdkTrapFocusAutoCapture>
        <h2 class="dialog-title">נדרש אישור לחיבור הערוץ '{{ site.name }}'</h2>
        <div class="dialog-content">
          <p>כדי שההתחברות לחשבון גוגל תעבוד בערוץ זה גם מתוך הפלטפורמה, יש לתת אישור לכתובת שלו בממשק התוסף.</p>

          <!-- *** שורה זו תוקנה *** -->
          <p>
            יש ללחוץ על אייקון התוסף
            <img [src]="getFaviconUrl()" alt="אייקון התוסף"
                 style="width: 16px; height: 16px; display: inline-block; vertical-align: middle; margin-inline: 4px;">
            בסרגל הכלים של הדפדפן, ולאשר את הוספת הדומיין: <strong>{{ siteDomain$ | async }}</strong>.
          </p>

          <p>לאחר האישור, תוכלו להתחבר לערוץ בצורה מלאה דרך הפלטפורמה.</p>
        </div>
        <div class="dialog-actions">
          <div class="dont-show-again-container">
            <input type="checkbox" id="dont-show-grant-again" #dontShowAgainCheckbox>
            <label for="dont-show-grant-again">אל תציג שוב</label>
          </div>
          <button #closeButton class="btn-primary" (click)="closeDialog(dontShowAgainCheckbox)">הבנתי</button>
        </div>
      </div>
    }
  </div>
}
